:root {
  --primary-color: #500101;
  --secondary-color: #000000;
  --text-color: rgb(170, 170, 170);
  --bodyBackgroundImage: url("../assets/images/bgImages/tyrannyOfDragons.jpg");
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: var(--bodyBackgroundImage);
  background-attachment: fixed;
  background-position: center 4em;
  background-repeat: no-repeat;
  background-size: 100% 94%;
}

-webkit-scrollbar.body {
  display: none;
}

ul {
  z-index: 2;

  height: 4em;
  width: 100%;
  margin: 0 0 4em 0;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  background-color: var(--primary-color);
}

li {
  margin: 0 2%;
}

li a {
  font-size: large;
  text-align: center;
  font-family: "Fondamento";
  color: var(--text-color);
  margin: auto;
  padding: 5px 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.intro {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 600px;
}

.intro-phone {
  padding: 1%;
  text-align: center;
  font-family: "Fondamento";
  color: black;
  background-color: var(--primary-color);

  font-size: 3em;
  bottom: 100px;
  -webkit-text-stroke: 1px rgb(255, 245, 230);
}

#logo {
  border-radius: 50%;
}

.intro-info {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.inbetween {
  border: var(--secondary-color) solid 2px;
  min-height: 600px;
  background-position: center 4em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 94%;
}

.bg-one {
  background-image: url("./images/bgImages/DnD.jpg");
}

.bg-two {
  background-image: url("./images/bgImages/Innistrad_Midnight_Hunt.jpg");
}

.bg-three {
  background-image: url("./images/bgImages/warhammer.jpg");
}

.bg-four {
  background-image: url("./images/bgImages/catan.jpg");
}

#rpg-start {
  position: relative;
  top: -12em;
}

.feature-card {
  border: var(--secondary-color) solid 4px;
  max-height: 500px;
  min-height: 500px;
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 50%;
}

#rpg {
  background-image: url("./images/rolePlaying/theWitchBeyondTheWitchlight.jpg");
  background-position: left;
}

.rpg-info {
  border-left: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 500px;
  margin: 0 0 0 50%;
}

#board-start {
  position: relative;
  top: -12em;
}

#board {
  border: var(--secondary-color) solid 2px;
  background-image: url("./images/boardGames/catan.jpg");
  max-height: 500px;
  background-color: var(--secondary-color);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.board-info {
  border-right: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 500px;
  margin: 0 50% 0 0;
}

#tabletop-start {
  position: relative;
  top: -12em;
}

#tabletop {
  border: var(--secondary-color) solid 2px;
  background-image: url("./images/tableTop/Sigmar_Sauron.jpg");
  max-height: 500px;
  background-color: var(--secondary-color);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.table-info {
  border-left: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 500px;
  margin: 0 0 0 50%;
}

#card-start {
  position: relative;
  top: -12em;
}

#card {
  border: var(--secondary-color) solid 2px;
  background-image: url("./images/magicTheGathering/Friday_Night_Magic.JPG");
  max-height: 500px;
  background-color: var(--secondary-color);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.card-info {
  border-right: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 500px;
  margin: 0 50% 0 0;
}

#event-start {
  position: relative;
  top: -12em;
}

#events {
  border: var(--secondary-color) solid 2px;
  background-image: url("./images/events/WW2_War_Game.jpg");
  background-color: var(--secondary-color);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.event-info {
  border-left: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 500px;
  margin: 0 0 0 50%;
}

#about {
  border: var(--secondary-color) solid 2px;
  background-image: url("./images/scott.png"), url("./images/jeremy.jpg");
  min-height: 600px;
  background-color: var(--secondary-color);
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: 23%;
}

.about-info {
  border-left: var(--secondary-color) solid 2px;
  border-right: var(--secondary-color) solid 2px;
  background-color: var(--primary-color);
  min-height: 600px;
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
}

.move-in {
  margin-left: 10%;
  margin-right: 10%;

  position: relative;
  animation: upIn 1s ease-out forwards;
}

.font-style {
  font-size: xx-large;
  text-align: center;
  font-family: "Fondamento";
  color: rgb(255, 245, 230);
}

.line-break {
  border-width: 0;
  background-color: rgb(8, 8, 8);
  max-width: 25%;
  height: 3px;
  color: grey;
  margin-bottom: 2em;
}

@media screen and (max-width: 1500px) {
  body {
    background-size: auto;
  }
  .inbetween {
    background-size: auto;
  }
}

@media screen and (max-width: 746px) {
  .inbetween {
    max-width: 746px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  .font-style {
    font-size: large;
  }
  li a {
    font-size: medium;
  }
  .feature-card {
    max-height: 300px;
    min-height: 300px;
  }
  .rpg-info {
    min-height: 300px;
  }
  .card-info {
    min-height: 300px;
  }
  .board-info {
    min-height: 300px;
  }
  .event-info {
    min-height: 300px;
  }
  .table-info {
    min-height: 300px;
  }
  .inbetween {
    min-height: 300px;
    max-height: 300px;
  }
  #about {
    min-height: 325px;
  }
  .about-info {
    min-height: 325px;
  }
}

@media screen and (max-width: 602px) {
  .inbetween {
    max-width: 602px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  #logo {
    width: 440px;
  }
  .intro {
    max-height: 440px;
  }
}

@media screen and (max-width: 440px) {
  .inbetween {
    max-width: 440px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  .intro-phone {
    font-size: 2em;
  }
  #logo {
    width: 300px;
  }
  .intro {
    max-height: 300px;
  }
  .font-style {
    font-size: smaller;
  }
  li a {
    font-size: x-small;
  }
  .feature-card {
    max-height: 250px;
    min-height: 250px;
  }
  .rpg-info {
    min-height: 250px;
  }
  .card-info {
    min-height: 250px;
  }
  .board-info {
    min-height: 250px;
  }
  .event-info {
    min-height: 250px;
  }
  .table-info {
    min-height: 250px;
  }
  .inbetween {
    min-height: 250px;
    max-height: 250px;
  }
  #about {
    min-height: 275px;
  }
  .about-info {
    min-height: 275px;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-7680px, 0, 0);
  }
}
@keyframes bgScroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes upIn {
  from {
    top: 400px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
